.moudle {
  display: inline-block;
  width: auto;
  position: relative;
  border: 0px solid white;
  border-radius: 10px;
  margin: 2px 5px 2px 5px;
  padding: 5px;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
}
.unshow {
  display: none;
}
.fix-width {
  width: 300px;
}
.title {
  width: 100px;
  font-size: 8px;
}
.close-button {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 7px;
  color: white;
}
.margin-top:first-child {
  margin-top: 2px;
}
.right {
  float: right;
  margin-left: 200px;
}
.dark{
  background-color: rgba(0,0,0,0.4);
  color: white;
}

.margin-top, .margin-top h3{
  color: white;
}
.hidden {
  display: none;
}