.moudle {
  display: inline-block;
  width: auto;
  position: relative;
  border: 0px solid white;
  border-radius: 10px;
  margin: 1px 3px 1px 3px;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.unshow {
  display: none;
}

.fix-width {
  width: 300px;
}

.title {
  width: 70px;
  font-size: 12px;
}

.close-button {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 7px;
  color: white;
}

.margin-top:first-child {
  margin-top: 1px;
}

.margin-top:last-child {
  margin-bottom: 1px;
}

.right {
  float: right;
  margin-left: 100%;
}

.right-module {
  float: right;
  margin-left: 100%;
}

.dark {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.margin-top,
.margin-top h3 {
  color: white;
}

.margin-top {
  font-size: 0;
}

.hidden {
  display: none;
}