.allCharts {
  display: flex;
  min-width: 290px;
}
.results-container {
  display: flex;
  max-width: 870px;
  overflow-x: auto;
}
.chart-wrapper {
  position: relative;
}
.minimize {
  /* position: absolute; */
  /* right: 30px; */
  margin-left: 6px;
  bottom: 0px;
  cursor: pointer;
}
.thumbnails-container {
  width: 78px;
  height: 210px;
  overflow: hidden auto;
}
.thumbnail-wrapper {
  width: 58px;
  height: 40px;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.unshow {
  display: none;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
  border-radius: 20px;
}
.fullscreen-container {
  background: rgb(0, 0, 0);
  top: 10vh;
  left:20vw;
  position: fixed;
  width: 60vw;
  height: 80vh;
  z-index: 1000;
  border-radius: 10px;
}