.allCharts {
  display: flex;
  min-width: 290px;
}
.results-container {
  display: flex;
  max-width: 1160px;
  overflow-x: auto;
}
.chart-wrapper {
  position: relative;
}
.minimize {
  position: absolute;
  right: 30px;
  bottom: 0px;
  cursor: pointer;
}
.thumbnails-container {
  width: 78px;
  height: 210px;
  overflow: hidden auto;
}
.thumbnail-wrapper {
  width: 58px;
  height: 40px;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.unshow {
  display: none;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}